@media only screen and (min-width: 32.5em) {
    body {
        width: 90%;
    }
    
    header {
        border-radius: 10px;
    }
    
    header h1 {
        font-size: 4em;
    }

    header img {
        float: right;
        margin: 30px 40px;
        padding: 0;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    footer {
        border-radius: 10px;
    }
}