@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', sans-serif;
}

body {
    font-family: sans-serif;
    width: 90%;
    margin: auto;
}

header {
    background-color: #405B64;
    color: white;
    border-radius: 10px;
}

header h1 {
    padding: 40px 70px;
    font-size: 4em;
}

main a {
    color:  #405B64;
}

main ul {
    line-height: 130%;
}

header img {
    float: right;
    margin: 30px 40px;
    padding: 0;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    background-color: #405B64;
    color: white;
    border-radius: 10px;
    padding: 30px 0;
    text-align: center;
}

footer a {
    color: white;
}
