@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', sans-serif;
}

body {
    width: 90%;
    margin: auto;
    font-family: sans-serif;
}

header {
    background-color: #0A5C9A;
    padding: 2em;
    margin-top: 1em;
    text-align: center;
}

header hr {
    width: 50%;
    color: white;
}

header h1, h2 {
    color: white;
}

header h1 {
    font-size: 3em;
    margin-bottom: .3em;
}

header h2 {
    margin-top: .2em;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    margin-top: 1em;
}

main section {
    background-color: #D6D6D6;
    border-radius: 10px;
}


main p {
    color: #404040;
}

main section img {
    width: 100%;
    margin-bottom: 1em;
}

main section a {
    color: #0A5C9A;
}

main section p {
    line-height: 1.5em;
}

.designs {
    padding: .5em;
}

main section h3 {
    font-size: 1.4em;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #0A5C9A;
    color: white;
    padding: .5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main section h4 {
    margin-top: 0;
    margin-bottom: .4em;
    color: #404040;
    font-size: 1.2em;
    padding: .5em 0;
}

main section p {
    margin-top: .2em;
}

footer {
    background-color: #0A5C9A;
    color: white;
    padding: 1.5em;
    margin-top: 1em;
    text-align: center;
}

footer a {
    color: white;
}

/* Tablet View ********/
@media only screen and (min-width: 37.5em) {
    header h1 {
        font-size: 4em;
    }

    header h2 {
        font-size: 2em;
    }
    
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    main section h3 {
        font-size: 1.5em;
    }
}

/* Big View ********/
@media only screen and (min-width: 60em) {
    header h1 {
        font-size: 5em;
    }

    header h2 {
        font-size: 3em;
    }
    
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    main section h3 {
        font-size: 1.5em;
    }
}