/* Tablet Views ******************************/
@media only screen and (min-width: 35.5em) {
    .headertext h1 {
        font-size: 3em;
    }

    .heroheading {
        font-size: 2em;
    }

    .navigation li:first-child {
        display: none;
    }

    .navlinks {
        max-width: 900px;
        margin: 0 auto;
    }
    
    .navlinks ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-content: center;
        list-style: none;
        padding: 10px 0 0 0;
        margin-bottom: 0;
    }
    
    .navlinks ul li {
        display: inline;
        text-align: center;
    }
    
    .navlinks a {
        text-decoration: none;
    }
    
    .navlinks li a {
        display: block;
        color: white;
        padding: 10px 0 15px 0;
    }
    
    .navlinks a:hover {
        background-color: white;
        color: #3A8835;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    li a.active {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .actionbutton a {
        font-size: 1.2em;
    }

    .herotext{
        top: 40%;
        width: 50%;
    }

    .herotext h2 {
        font-size: 1.8em;
    }

    .herotext p {
        font-size: 1.2em;
        margin: 10px 0;
    }

    .bizcard {
        border-radius: 10px;
    }

    .bizsection {
        grid-template-columns: 1fr 1fr;
    }

    .contactbox {
        grid-template-columns: 1fr 1fr;
    }

    .contactbox img {
        max-width: 500px;
        margin: 20px;
    }

    .socialicons img {
        max-width: 30px;
        margin: 10px;
    }
}