@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&family=Noto+Sans+TC&display=swap');

body {
    font-family: 'Noto Sans TC', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lexend', sans-serif;
    color: #3B3F3F;
}

header {
    background-color: #3A8835;
    color: white;
}

header img {
    width: 70%;
    max-width: 200px;
}

.headertext h1 {
    padding-right: 40px;
    font-size: 1.5em;
    color: white;
}

.headerbox {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: center;
}

.headerbox img {
    margin: 0 25px;
}

.centeritems {
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    justify-items: center;
}

.navigation li:first-child {
    display: block;
    margin: 0 auto;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

nav {
    background-color: #3A8835;
}

nav ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

nav ul li {
    text-align: center;
}

nav ul li a {
    display: block;
    color: white;
    padding: 10px 0;
}

nav ul li a:hover {
    background-color: white;
    color: #3A8835;
}

li a.active {
    background-color: white;
    color: #3A8835 !important;
}

/* .navlinks {
    max-width: 900px;
    margin: 0 auto;
}

.navlinks ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    list-style: none;
    padding: 10px 0 0 0;
    margin-bottom: 0;
}

.navlinks ul li {
    display: inline;
    text-align: center;
}

.navlinks a {
    text-decoration: none;
}

.navlinks li a {
    display: block;
    color: white;
    padding: 10px 0 15px 0;
}

.navlinks a:hover {
    background-color: white;
    color: #3A8835;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
} */

.herosection {
    position: relative;
    text-align: center;
    color: white;
}

.heroheading {
    display: block;
    color: white;
  }

.herosection img {
    width: 100%;
    background-color: rgb(51, 51, 51, 0.2);
    margin-top: 10px;
}

.herotext{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 70%; */
    width: 80%;
    background-color: rgb(52, 57, 69, 0.7);
    padding: 10px;
    border-radius: 10px;
}

.herotext h2 {
    margin-bottom: 0;
    font-size: .9em;
}

.herotext p {
    font-size: .8em;
    margin-top: 5px;
}

.mtn-banner-img {
    width: 100%;
}

.actionbutton a {
    display: block;
    margin: 0 auto;
    color: white;
    text-decoration: none;
    background-color: #3A8835;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    max-width: 100px;
}

.actionbutton a:hover {
    color: #3A8835;
    background-color: white;
}

.bizbox {
    margin: 0 auto;
    max-width: 1000px;
    margin-bottom: 20px;
}

.bizbox h2,
.sandyweather h2,
.sandyevents h2,
.boardcards h2 {
    color: #3B3F3F;
    margin-left: 10px;
}

.bizsection {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.bizcard {
    background-color: #546D9C;
    color: white;
    padding: 20px;
    border-radius: 0;
}

.bizcard img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.bizcard-text h3 {
    color: white;
}

.weatherdetails {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.currentweather {
    background-color: #3A8835;
    padding: 10px;
    color: white;
}

.forecast {
    background-color: #D0D0D0;
    padding: 10px;
    color: #3B3F3F;
    border-top: 5px solid #3A8835;
}

.aboutSandy {
    color: #3B3F3F;
}

.aboutSandy h3 {
    color: white;
}

.aboutSandy a {
    color: white;
    font-size: 1.2em;
    font-weight: 800;
    text-decoration: none;
}

.aboutSandytext {
    color: white;
    background-color: #546D9C;
    padding: 20px;
    margin-top: -3px;
    line-height: 1.5em;
}

.aboutSandy img {
    margin-top: 20px;
    width: 100%;
}

.sandyevents,
.sandyweather,
.boardcards,
.sandyCurrentEvents,
.aboutSandy,
.directory {
    margin: 0 auto;
    max-width: 1000px;
}

.sandyevents img {
    width: 100%;
}

.eventandimage img {
    width: 100%;
}

.currentweather h3 {
    text-align: center;
    color: white;
}

.weather-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.weather {
    text-align: right;
}

/*****Forecast Stuff******/
.daycard {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    /* border: 1px solid white; */
    width: 100%;
    /* padding: 10px; */
}

.daytitle {
    background-color: #546D9C;
    color: white;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    font-weight: 800;
}

.daytemp {
    padding: 10px 0;
}

#threedayheading {
    text-align: center;
}

.threeday-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 80%;
    background-color: white;
    margin: 0 auto;
    border: 1px solid white;
    margin-bottom: 10px;
}

.threeday-section h3 {
    text-align: center;
}

.days {
    background-color: gray;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
}
/*^^^^Forecast Stuff^^^^**/

.eventdetails,
.boardgrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 10px 0;
}

.theevent {
    margin-top: -3px;
}

.theevent,
.boardmember {
    padding: 10px;
    color: #3B3F3F;
    text-align: center;
    background-color: #D0D0D0;
}

.theevent a,
.boardmember a {
    display: block;
    width: 50%;
    margin: 0 auto;
    color: white;
    background-color: #3A8835;
    margin-top: 10px;
    padding: 10px 0;
    border-radius: 5px;
    text-decoration: none;
}

.theevent h3
.boardmember h3 {
    margin-bottom: 0;
}

.theevent p
.boardmember p {
    margin-top: 5px;
}

.boardmember img {
    max-width: 100%;
}

/* -----Form Styling----- */
form fieldset {
    margin: 2em;
    padding: .5rem 2%;
    border-radius: 10px;
    border: 1px solid gray;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
}

form label.top input, form label.top select {
    display: block;
    padding: .75rem;
    width: 90%;
    max-width: 20rem;
    border: 1px solid grey;
    border-radius: 5px;
    color: #3D3D3D;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: .75rem;
    color: #3D3D3D;
}

form input.sbmtbtn {
    border: none;
    background-color: #546D9C;
    color: white;
    padding: 1.5rem;
    border-radius: 10px;
    margin: 0 0 20px 8%;
    width: 100%;
    max-width: 20rem;
    font-weight: bolder;
}

form input.sbmtbtn:hover {
    background-color: #A1D29D;
}

form label.top input:required {
    border-left: 6px solid red;
}

form label.top input:required:valid {
    border-left: 6px solid green;
}

form textarea {
    width: 80%;
    max-width: 20rem;
    height: 100px;
    border-radius: 10px;
    color: #3D3D3D;
    border: 1px solid #3D3D3D;
    background-color: rgba(0,0,0,0.1);
    padding: 1.5rem;
}

.joinIntro {
    margin: 0 0 0 2%;
    width: 80%;
    color: #3D3D3D;
}

.joinIntro p {
    margin: 0 0 0 2%;
    line-height: 1.7em;
}
/* ------^^^^-------- */

/*****Directory Page******/
.dirbizcards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-items: center;
    margin-bottom: 20px;
}

.dirbizcards section {
    background-color: #546D9C;
    padding: 20px;
    color: white;
    border-radius: 10px;
}

.dirbizcards section h3,
.dirbizcards section p,
.dirbizcards section a {
    color: white;
    line-height: 1.5em;
    margin-bottom: 5px;
    text-decoration: none;
}

.dirbizcard {
    width: 250px;
    word-wrap: break-word;
}

.dirbizcard a:hover {
    font-size: 1.2em;
    font-weight: 800;
}

.dirbizcard img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}


/**^^^^^Directory Page^^^^^^*/

.contactbox {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1000px;
    margin: 0 auto;
    color: white;
    align-items: center;
}

.contactbox iframe {
    margin:20px 0;
    max-width: 100%;
}

.contactinfo {
    padding: 10px;
}

.contactbox img {
    max-width: 300px;
    margin: 10px;
    justify-self: center;
}

footer {
    background-color: #3A8835;
}

.contactinfo h3 {
    color: white;
}

.socialicons img {
    max-width: 30px;
    margin: 10px;
}