@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    margin: 0 auto;
    margin-top: 10px;
    width: 90%;
    max-width: 900px;
}

table {
    width: 350px;
    border-collapse: collapse;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 8px 8px 10px gray;
}

thead, th, td, tfoot {
    text-align: center;
    border: 1px solid #B8B8B8;
    padding: 10px;
}

thead th {
    background-color: #7fb9c2;
    font-size: 1.5em;
}

tbody tr {
    background-color: #e7ffed;
}

tbody tr th {
    font-weight: bolder;
}

tbody tr:nth-child(even) {
    /* background-color: #e7ffed; */
    background-color: #e7f0ed;
}

.cust {
    background-color: #628ca6;
    color: white;
}

tfoot {
    background-color: #7fb9c2;
    font-size: .9em;
}